include recipes-data

section.recipes
	h2.visually-hidden heading
	ul.recipes__list
		each recipe, index in recipes
			li.recipes__item(class=( recipe.large ? 'recipes__item--large' : recipe.minimal ? 'recipes__item--minimal' : recipe.small ? 'recipes__item--small' : '' ))
				article.recipes__recipe.recipe(class=( recipe.large ? 'recipe--large' : recipe.minimal ? 'recipe--minimal' : recipe.small ? 'recipe--small' : '' ))
					if recipe.minimal
						.recipe__container
							h3= recipe.heading
							p= recipe.text
							+additional-list(recipe)
					else if recipe.small
						h3= recipe.heading
						p= recipe.text
						+picture('recipes/small', `${recipe.img.path}`, 'jpg', `${recipe.img.width}`, `${recipe.img.height}`, `${recipe.img.description}`, `${recipe.img.title}`)
						+additional-list(recipe)
					else
						h3= recipe.heading
						p= recipe.text
						+picture('recipes/large', `${recipe.img.path}`, 'jpg', `${recipe.img.width}`, `${recipe.img.height}`, `${recipe.img.description}`, `${recipe.img.title}`)
						+additional-list(recipe)